[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
nltk = "*"
emoji = "*"
python-dotenv = "*"
sqlalchemy = "*"
streamlit = "*"
streamlit-bokeh-events = "*"
tweepy = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.7"
